[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {version = "*", extras = ["all"]}
shapely = "*"
python-dotenv = "*"
strawberry-graphql = {version = "*", extras = ["debug-server"]}

[dev-packages]

[requires]
python_version = "3.10"
